body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #727272;
  background-color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
}

.page-header {
  width: 1720px;
  height: 800px;
  margin: 0 auto;
  background-image: url('./image/header-image.jpg');
  background-position: center center;
  margin-bottom: 300px;
  padding-left: 80px;
}

.main-nav {
  padding-top: 20px;
  display: flex;
  margin-bottom: 160px;
}

.nav-item {
  margin-right: 24px;
}

.logo {
  margin-top: 0;
  margin-right: auto;
}

.nav-list {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-header-container {
  margin-bottom: 100px;
}

.page-header-title {
  margin-top: 0;
  color: #fff;
  font-family: Open Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.page-header-container p {
  color: #fff;
  margin-bottom: 40px;
}

.page-header-container button {
  font-size: 23px;
  color: #fff;
  text-align: center;
  padding: 18px 15px;
  border: 3px solid #fcd54c;
  background-color: transparent;
}

.page-header-advantages-container {
  width: 1400px;
  height: 250px;
  margin: 0 auto;
  border: 7px solid #fcd54c;
}

.page-header-advantages {
  position: relative;
  top: 30px;
  left: 60px;
  z-index: 1;
  background-color: #1c1c1c;
}

.page-header-advantages-title {
  color: #fff;
  font-size: 24px;
  line-height: 46px;
  margin-left: 80px;
}

.page-header-advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.page-header-advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  line-height: 46px;
}

.main-content {
  width: 1800px;
  margin: 0 auto;
}

.hero {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.hero-title {
  margin-top: 0;
  color: #000;
  font-size: 32px;
}

.proposal {
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
  background-color: #1c1c1c;
}

.proposal-title {
  color: #fcd54c;
  font-size: 32px;
  margin-bottom: 25px;
}

.proposal-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.proposal-item-container {
  width: 500px;
  border: 4px solid #fcd54c;
}

.proposal-item-container img {
  position: relative;
  left: 16px;
  top: 16px;
}

.plasma-spraying {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 200px;
  padding-right: 200px;
}

.plasma-spraying-text {
  width: 600px;
}

.plasma-spraying-image {
  width: 600px;
}

.plasma-spraying-image h2 {
  color: #000;
  font-size: 32px;
}

.plasma-spraying-text h3 {
  color: #000;
  font-size: 32px;
}

.сoating-types {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 200px;
  padding-right: 200px;
  background-color: #1c1c1c;
}

.сoating-types-content h2 {
  color: #fcfdfd;
  font-size: 32px;
}

.сoating-types-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.сoating-types-item {
  border: 6px solid #fcd54c;
}

.сoating-types-item img {
  position: relative;
  left: 50px;
  top: 40px;
}

.сoating-types-content h3 {
  color: #fcd54c;
  font-size: 36px;
  margin-top: 80px;
}

.сoating-types-text {
  color: #fff;
  font-size: 30px;
  line-height: 40px;
}

.сoating-types-list-2 {
  color: #fff;
  font-size: 30px;
  line-height: 57px;
}

.sample-work {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 150px;
  padding-left: 200px;
  padding-right: 200px;
}

.sample-work-content h2 {
  color: #000;
  font-size: 36px;
  font-weight: 600;
}

.sample-work-content h3 {
  font-size: 32px;
  font-weight: 600;
}

.sample-work-content p {
  color: #000;
  font-size: 24px;
}

.sample-work-content-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sample-work-container {
  margin-top: 50px;
  border: 6px solid #fcd54c;
}

.sample-work-container img {
  position: relative;
  top: 200px;
  left: 150px;
}

.customers {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #1c1c1c;
  padding-left: 200px;
  padding-right: 200px;
}

.customers h2 {
  color: #fcd54c;
  font-size: 36px;
}

.customers-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customers h3 {
  color: #fcd54c;
  font-size: 36px;
}

.customers p {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.customers input {
  border: 4px solid #fcd54c;
  background: #f5f5ed;
  display: block;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 540px;
}

.customers textarea {
  border: 4px solid #fcd54c;
  background: #f5f5ed;
  display: block;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 540px;
}

.customers button {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 48px;
  border: 3px solid #fcd54c;
}

.Contacts {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 60px;
  padding-left: 200px;
  padding-right: 200px;
  background-image: url('image/map.jpg');
  background-position: center center;
}

.Contacts h2 {
  color: #fff;
  font-size: 32px;
  margin: 0;
}

.Contacts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.Contacts-list p {
  color: #fff;
  font-size: 20px;
}

.main-footer {
  width: 1400px;
  margin: 0 auto;
  background-color: #1c1c1c;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 200px;
  padding-right: 200px;
}

.main-footer .sign {
  color: #fcd54c;
  font-size: 14px;
  text-align: center;
}

.main-footer-container {
  display: flex;
  justify-content: space-between;
}

.main-footer-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}

.main-footer-container button {
  border: 1px solid #fcd54c;
  background-color: #1c1c1c;
  width: 190px;
  height: 55px;
  color: #fff;
  font-size: 14px;
}

.main-footer-container-content-2 {
  text-align: center;
}
